{%- comment -%}
  This is a Shopify section named "Feature Blocks".
  It will display a set of feature blocks with icons, titles, and short descriptions.
{%- endcomment -%}
<style>
  /* Basic styling */
  .feature-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .feature-block a:not(.button){
    line-height:1;
    text-decoration:none;
    display:block;
  }
  .feature-block {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(25% - 20px);
  }
  .feature-block img {
    width: 100%;
    max-height: 200px;
    object-fit:cover;
    
  }
.block-title{
    text-decoration:none;
    display:block;
    font-size:1.4rem;
    margin-top:10px;
    margin-bottom:5px;
}
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .feature-block {
      width: calc(100% - 20px);
    }
  }
</style>

<div class="page-width">
  <div>
    <h2 class="title inline-richtext {{ section.settings.heading_size }} {{ section.settings.alignment }}">
      {{ section.settings.title }}
    </h2>
  </div>
  <div class="feature-blocks">
    {%- for block in section.blocks -%}
      <div class="feature-block">
       
        <div class="rich-text__buttons scroll-trigger animate--slide-in" data-cascade="" style="--animation-order: 0;">
          <div class="diet-plan-image">
          <a href="{{block.setting.page-link}}">
          {% if block.settings.image != blank %}
          <img src="{{ block.settings.image | image_url: width: 1500 }}">
          {% endif %}
          </a>
          </div>
         <a href="{{block.setting.page-link}}" class="block-title">  <span>{{ block.settings.title }}</span></a>
          <a href="{{ block.settings.btn-link }}" target="blank" class="button button--primary">
            {{- block.settings['btn-tile'] -}}
          
          </a>
        </div>
      </div>
    {%- endfor -%}
  </div>
</div>

{%- schema -%}
{
  "name": "Diet Plan",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Why Choose Us"
    },
    {
   "type": "text_alignment",
   "id": "alignment",
   "label": "Title alignment",
   "default": "center"
},

    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    }
  ],
  "blocks": [
    {
      "type": "feature_block",
      "name": "Feature Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Feature Title"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "btn-tile",
          "label": "button text",
          "default": "Download"
        },
        {
          "type": "url",
          "id": "page-link",
          "label": "Page Link"
        },
        {
          "type": "url",
          "id": "btn-link",
          "label": "button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Features",
      "name": "Diet Plan",
      "settings": {
        "title": "Diet Plan"
      }
    }
  ]
}
{%- endschema -%}
